html, body {
  font-family: constantia, palatino, "times new roman";
}

body {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 10px;
  background-color: #fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

ul.menu {
  list-style: none;
  background-color: #f9f9f9;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  text-align: center;
}

ul.menu a {
  text-decoration: none;
  color: #000;
}

ul.menu li {
  display: inline;
  padding: 1em;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

textarea {
  width: 400px;
  height: 200px;
}

input[type="text"], textarea {
  margin-bottom: 1em;
  border: 1px solid #999;
  margin-left: 0;
}

input[type="text"] {
  width: 250px;
}

label.radio {
  width: 580px;
}

h1 {
  font-size: 20px;
}

h1.page {
  font-size: 30px;
}

